<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style-chat.css">
    <h1>You're now chatting with {{ bot_name.title() }} 🤖</h1>
</head>
<body>
  <a href="{{ url_for('page.html') }}">← Back to Home</a>

    <div class="message-header">
        <img src="cowboy.jpg">
    </div>

    <div class="chat-box">
        <div class="message-page">
            <div class="message incoming">
                <img src="bot.jpg">
                <p>Boto tekstas</p>
            </div>

    </div>
</body>
</html>
